In [1]:
# Import Dependencies

import numpy as np
import pandas as pd
import os

In [2]:
# Load CSV Files

bc_data_to_load = os.path.join("Resources", "data.csv")
demographic_data_to_load = os.path.join("Resources", "USCS_DemographicSexRace.csv")
risk_factors1_data_to_load = os.path.join("Resources", "bcsc_risk_factors_summarized1_092020.csv")
risk_factors2_data_to_load = os.path.join("Resources", "bcsc_risk_factors_summarized2_092020.csv")
risk_factors3_data_to_load = os.path.join("Resources", "bcsc_risk_factors_summarized3_092020.csv")

In [3]:
# Read csv files into pandas dataframes

breast_cancer_df = pd.read_csv(bc_data_to_load)
breast_cancer_df

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,926424,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,NaN
565,926682,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,NaN
566,926954,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,NaN
567,927241,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,NaN
568,92751,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,NaN

In [4]:
demographic_df = pd.read_csv(demographic_data_to_load)
demographic_df

,CancerType,Year,Race,Sex,AgeAdjustedRate,CaseCount,Population
0,'All Cancer Sites Combined','2017','White','Male','470.8','714508','125664614'
1,'All Cancer Sites Combined','2017','Black','Male','497.1','93571','21980769'
2,'All Cancer Sites Combined','2017','Asian/Pacific Islander','Male','285.4','25693','10130807'
3,'All Cancer Sites Combined','2017','American Indian/Alaska Native','Male','273.3','4784','2349440'
4,'All Cancer Sites Combined','2017','Hispanic','Male','350.4','64814','29650857'
5,'All Cancer Sites Combined','2017','White','Female','418.3','694252','127878578'
6,'All Cancer Sites Combined','2017','Black','Female','383.2','92483','23807887'
7,'All Cancer Sites Combined','2017','Asian/Pacific Islander','Female','287.4','32868','10999800'
8,'All Cancer Sites Combined','2017','American Indian/Alaska Native','Female','268.9','5400','2335226'
9,'All Cancer Sites Combined','2017','Hispanic','Female','326.9','74374','29050132'

In [5]:
risk_factors1_df = pd.read_csv(risk_factors1_data_to_load)
risk_factors1_df.head()

,calendar_year,age_group,race,family_history,age_menarche,age_first_birth,BIRADS_breast_density,current_hrt,menopaus,bmi_group,biophx,breast_cancer_history,covariate_count
0,2013,7,1,0,9,3,1,1,2,3,0,0,7
1,2013,7,1,0,9,3,1,1,2,3,1,0,3
2,2013,7,1,0,9,3,1,1,2,4,0,0,6
3,2013,7,1,0,9,3,1,1,2,4,1,0,1
4,2013,7,1,0,9,3,1,1,2,4,1,1,1

In [6]:
risk_factors2_df = pd.read_csv(risk_factors2_data_to_load)
risk_factors2_df.head()

,calendar_year,age_group,race,family_history,age_menarche,age_first_birth,BIRADS_breast_density,current_hrt,menopaus,bmi_group,biophx,breast_cancer_history,covariate_count
0,2005,1,1,0,0,0,2,0,1,9,0,0,2
1,2005,1,1,0,0,0,4,0,1,1,0,0,1
2,2005,1,1,0,0,0,4,0,1,2,0,0,1
3,2005,1,1,0,0,0,4,0,1,9,0,0,2
4,2005,1,1,0,0,1,4,0,1,4,0,0,1

In [7]:
risk_factors3_df = pd.read_csv(risk_factors3_data_to_load)
risk_factors3_df.head()

,calendar_year,age_group,race,family_history,age_menarche,age_first_birth,BIRADS_breast_density,current_hrt,menopaus,bmi_group,biophx,breast_cancer_history,covariate_count
0,2009,6,1,0,9,2,1,1,2,2,0,0,2
1,2009,6,1,0,9,2,1,1,2,3,0,0,3
2,2009,6,1,0,9,2,1,1,2,4,0,0,2
3,2009,6,1,0,9,2,1,1,2,9,0,9,1
4,2009,6,1,0,9,2,1,9,1,9,0,9,1

In [8]:
# Determine any missing values in Dataframes

breast_cancer_df.count()

id                         569
diagnosis                  569
radius_mean                569
texture_mean               569
perimeter_mean             569
area_mean                  569
smoothness_mean            569
compactness_mean           569
concavity_mean             569
concave points_mean        569
symmetry_mean              569
fractal_dimension_mean     569
radius_se                  569
texture_se                 569
perimeter_se               569
area_se                    569
smoothness_se              569
compactness_se             569
concavity_se               569
concave points_se          569
symmetry_se                569
fractal_dimension_se       569
radius_worst               569
texture_worst              569
perimeter_worst            569
area_worst                 569
smoothness_worst           569
compactness_worst          569
concavity_worst            569
concave points_worst       569
symmetry_worst             569
fractal_dimension_worst    569
Unnamed: 32                  0
dtype: int64

In [9]:
demographic_df.count()

CancerType         10
Year               10
Race               10
Sex                10
AgeAdjustedRate    10
CaseCount          10
Population         10
dtype: int64

In [10]:
risk_factors1_df.count()

calendar_year            509410
age_group                509410
race                     509410
family_history           509410
age_menarche             509410
age_first_birth          509410
BIRADS_breast_density    509410
current_hrt              509410
menopaus                 509410
bmi_group                509410
biophx                   509410
breast_cancer_history    509410
covariate_count          509410
dtype: int64

In [11]:
risk_factors2_df.count()

calendar_year            506465
age_group                506465
race                     506465
family_history           506465
age_menarche             506465
age_first_birth          506465
BIRADS_breast_density    506465
current_hrt              506465
menopaus                 506465
bmi_group                506465
biophx                   506465
breast_cancer_history    506465
covariate_count          506465
dtype: int64

In [12]:
risk_factors3_df.count()

calendar_year            506465
age_group                506465
race                     506465
family_history           506465
age_menarche             506465
age_first_birth          506465
BIRADS_breast_density    506465
current_hrt              506465
menopaus                 506465
bmi_group                506465
biophx                   506465
breast_cancer_history    506465
covariate_count          506465
dtype: int64

In [13]:
# Determine if there are not any missing values in the student data.
# Using the notnull().sum() chain command to count the true values. 

risk_factors1_df.notnull().sum()

calendar_year            509410
age_group                509410
race                     509410
family_history           509410
age_menarche             509410
age_first_birth          509410
BIRADS_breast_density    509410
current_hrt              509410
menopaus                 509410
bmi_group                509410
biophx                   509410
breast_cancer_history    509410
covariate_count          509410
dtype: int64

In [14]:
# Determine if there are not any missing values in the student data.
# Using the notnull().sum() chain command to count the true values. 

risk_factors2_df.notnull().sum()

calendar_year            506465
age_group                506465
race                     506465
family_history           506465
age_menarche             506465
age_first_birth          506465
BIRADS_breast_density    506465
current_hrt              506465
menopaus                 506465
bmi_group                506465
biophx                   506465
breast_cancer_history    506465
covariate_count          506465
dtype: int64

In [15]:
# Determine IF there are not any missing values in the student data.
# Using the notnull().sum() chain command to count the true values. 

risk_factors3_df.notnull().sum()

calendar_year            506465
age_group                506465
race                     506465
family_history           506465
age_menarche             506465
age_first_birth          506465
BIRADS_breast_density    506465
current_hrt              506465
menopaus                 506465
bmi_group                506465
biophx                   506465
breast_cancer_history    506465
covariate_count          506465
dtype: int64

In [16]:
# determine data types for dataframes

breast_cancer_df.dtypes

id                           int64
diagnosis                   object
radius_mean                float64
texture_mean               float64
perimeter_mean             float64
area_mean                  float64
smoothness_mean            float64
compactness_mean           float64
concavity_mean             float64
concave points_mean        float64
symmetry_mean              float64
fractal_dimension_mean     float64
radius_se                  float64
texture_se                 float64
perimeter_se               float64
area_se                    float64
smoothness_se              float64
compactness_se             float64
concavity_se               float64
concave points_se          float64
symmetry_se                float64
fractal_dimension_se       float64
radius_worst               float64
texture_worst              float64
perimeter_worst            float64
area_worst                 float64
smoothness_worst           float64
compactness_worst          float64
concavity_worst            float64
concave points_worst       float64
symmetry_worst             float64
fractal_dimension_worst    float64
Unnamed: 32                float64
dtype: object

In [17]:
demographic_df.dtypes

CancerType         object
Year               object
Race               object
Sex                object
AgeAdjustedRate    object
CaseCount          object
Population         object
dtype: object

In [18]:
risk_factors1_df.dtypes

calendar_year            int64
age_group                int64
race                     int64
family_history           int64
age_menarche             int64
age_first_birth          int64
BIRADS_breast_density    int64
current_hrt              int64
menopaus                 int64
bmi_group                int64
biophx                   int64
breast_cancer_history    int64
covariate_count          int64
dtype: object

In [19]:
risk_factors2_df.dtypes

calendar_year            int64
age_group                int64
race                     int64
family_history           int64
age_menarche             int64
age_first_birth          int64
BIRADS_breast_density    int64
current_hrt              int64
menopaus                 int64
bmi_group                int64
biophx                   int64
breast_cancer_history    int64
covariate_count          int64
dtype: object

In [20]:
risk_factors3_df.dtypes

calendar_year            int64
age_group                int64
race                     int64
family_history           int64
age_menarche             int64
age_first_birth          int64
BIRADS_breast_density    int64
current_hrt              int64
menopaus                 int64
bmi_group                int64
biophx                   int64
breast_cancer_history    int64
covariate_count          int64
dtype: object

In [21]:
concatenated_df = pd.concat([risk_factors1_df, risk_factors2_df, risk_factors3_df])
concatenated_df

,calendar_year,age_group,race,family_history,age_menarche,age_first_birth,BIRADS_breast_density,current_hrt,menopaus,bmi_group,biophx,breast_cancer_history,covariate_count
0,2013,7,1,0,9,3,1,1,2,3,0,0,7
1,2013,7,1,0,9,3,1,1,2,3,1,0,3
2,2013,7,1,0,9,3,1,1,2,4,0,0,6
3,2013,7,1,0,9,3,1,1,2,4,1,0,1
4,2013,7,1,0,9,3,1,1,2,4,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
506460,2013,7,1,0,9,3,1,0,9,9,1,1,1
506461,2013,7,1,0,9,3,1,1,2,1,0,0,8
506462,2013,7,1,0,9,3,1,1,2,1,1,0,1
506463,2013,7,1,0,9,3,1,1,2,2,0,0,12
506464,2013,7,1,0,9,3,1,1,2,2,1,0,5

In [22]:
# Determine if there are not any missing values in the student data.
# Using the notnull().sum() chain command to count the true values. 

concatenated_df.isnull().sum()

calendar_year            0
age_group                0
race                     0
family_history           0
age_menarche             0
age_first_birth          0
BIRADS_breast_density    0
current_hrt              0
menopaus                 0
bmi_group                0
biophx                   0
breast_cancer_history    0
covariate_count          0
dtype: int64

In [23]:
# Find Average Covariate Count

average_covariate_count = concatenated_df["covariate_count"].mean()
print(average_covariate_count)

4.459211477068197

In [24]:
# Average Covariate Count by Age Group

average_covariate_df = concatenated_df.groupby(['age_group']).mean()
average_covariate_df

#print(average_covariate_age)

,calendar_year,race,family_history,age_menarche,age_first_birth,BIRADS_breast_density,current_hrt,menopaus,bmi_group,biophx,breast_cancer_history,covariate_count
age_group,,,,,,,,,,,,
1,2010.335539,2.958609,1.496522,6.717048,5.039186,3.942833,0.070908,1.229686,4.668533,0.836641,2.187277,1.840034
2,2010.837020,2.830379,1.268584,5.743984,4.132632,3.653962,0.092423,1.299545,4.171154,0.646196,1.645072,2.170797
3,2010.394394,2.868823,1.166362,4.956220,4.035925,3.524707,0.143453,1.448498,4.130683,0.588867,1.629542,3.287730
4,2010.743208,2.970681,1.064438,4.860510,4.058847,3.405072,0.335052,1.821084,3.986503,0.640761,1.718771,6.381594
5,2010.648280,2.786572,0.895033,4.694312,3.763739,3.381832,1.460392,3.088682,4.146744,0.638454,2.141052,4.809417
6,2010.815626,2.710767,0.749176,4.616018,3.566435,3.276703,1.758974,3.483595,4.110996,0.653707,2.005812,4.046384
7,2010.922497,2.612693,0.686695,4.525626,3.478147,3.179118,2.025004,3.782683,4.181820,0.690963,2.011774,3.995260
8,2011.069511,2.674912,0.789841,4.435227,3.438867,3.197377,2.651338,2.000000,4.317189,0.877085,2.348186,5.607873
9,2011.232559,2.604838,0.778424,4.362614,3.333730,3.099805,2.704242,2.000000,4.355934,0.868096,2.376343,5.102999
10,2011.182567,2.510923,0.700890,4.348764,3.249932,3.035487,2.696475,2.000000,4.412774,0.870886,2.328348,4.421465
11,2010.910308,2.437873,0.649897,4.373644,3.188335,3.010554,2.613349,2.000000,4.528637,0.854318,2.245535,3.801981
12,2010.734902,2.352217,0.627501,4.531518,3.269005,3.004135,2.497689,2.000000,4.676549,0.858268,2.127699,3.120158
13,2010.800150,2.327958,0.605175,4.917322,3.489548,3.034254,2.279414,2.000000,4.871916,0.856926,1.964129,2.444817

In [25]:
# Round appropriate columns to whole number 

rounded_df = average_covariate_df.round(0)
rounded_df

,calendar_year,race,family_history,age_menarche,age_first_birth,BIRADS_breast_density,current_hrt,menopaus,bmi_group,biophx,breast_cancer_history,covariate_count
age_group,,,,,,,,,,,,
1,2010.0,3.0,1.0,7.0,5.0,4.0,0.0,1.0,5.0,1.0,2.0,2.0
2,2011.0,3.0,1.0,6.0,4.0,4.0,0.0,1.0,4.0,1.0,2.0,2.0
3,2010.0,3.0,1.0,5.0,4.0,4.0,0.0,1.0,4.0,1.0,2.0,3.0
4,2011.0,3.0,1.0,5.0,4.0,3.0,0.0,2.0,4.0,1.0,2.0,6.0
5,2011.0,3.0,1.0,5.0,4.0,3.0,1.0,3.0,4.0,1.0,2.0,5.0
6,2011.0,3.0,1.0,5.0,4.0,3.0,2.0,3.0,4.0,1.0,2.0,4.0
7,2011.0,3.0,1.0,5.0,3.0,3.0,2.0,4.0,4.0,1.0,2.0,4.0
8,2011.0,3.0,1.0,4.0,3.0,3.0,3.0,2.0,4.0,1.0,2.0,6.0
9,2011.0,3.0,1.0,4.0,3.0,3.0,3.0,2.0,4.0,1.0,2.0,5.0
10,2011.0,3.0,1.0,4.0,3.0,3.0,3.0,2.0,4.0,1.0,2.0,4.0
11,2011.0,2.0,1.0,4.0,3.0,3.0,3.0,2.0,5.0,1.0,2.0,4.0
12,2011.0,2.0,1.0,5.0,3.0,3.0,2.0,2.0,5.0,1.0,2.0,3.0
13,2011.0,2.0,1.0,5.0,3.0,3.0,2.0,2.0,5.0,1.0,2.0,2.0

In [26]:
clean_average_df = rounded_df.drop(['calendar_year'], axis=1)
clean_average_df

,race,family_history,age_menarche,age_first_birth,BIRADS_breast_density,current_hrt,menopaus,bmi_group,biophx,breast_cancer_history,covariate_count
age_group,,,,,,,,,,,
1,3.0,1.0,7.0,5.0,4.0,0.0,1.0,5.0,1.0,2.0,2.0
2,3.0,1.0,6.0,4.0,4.0,0.0,1.0,4.0,1.0,2.0,2.0
3,3.0,1.0,5.0,4.0,4.0,0.0,1.0,4.0,1.0,2.0,3.0
4,3.0,1.0,5.0,4.0,3.0,0.0,2.0,4.0,1.0,2.0,6.0
5,3.0,1.0,5.0,4.0,3.0,1.0,3.0,4.0,1.0,2.0,5.0
6,3.0,1.0,5.0,4.0,3.0,2.0,3.0,4.0,1.0,2.0,4.0
7,3.0,1.0,5.0,3.0,3.0,2.0,4.0,4.0,1.0,2.0,4.0
8,3.0,1.0,4.0,3.0,3.0,3.0,2.0,4.0,1.0,2.0,6.0
9,3.0,1.0,4.0,3.0,3.0,3.0,2.0,4.0,1.0,2.0,5.0
10,3.0,1.0,4.0,3.0,3.0,3.0,2.0,4.0,1.0,2.0,4.0
11,2.0,1.0,4.0,3.0,3.0,3.0,2.0,5.0,1.0,2.0,4.0
12,2.0,1.0,5.0,3.0,3.0,2.0,2.0,5.0,1.0,2.0,3.0
13,2.0,1.0,5.0,3.0,3.0,2.0,2.0,5.0,1.0,2.0,2.0

In [27]:
# Count records based on covariage count

covariate_count_df = concatenated_df.groupby("covariate_count").count()
covariate_count_df

,calendar_year,age_group,race,family_history,age_menarche,age_first_birth,BIRADS_breast_density,current_hrt,menopaus,bmi_group,biophx,breast_cancer_history
covariate_count,,,,,,,,,,,,
1,856114,856114,856114,856114,856114,856114,856114,856114,856114,856114,856114,856114
2,235792,235792,235792,235792,235792,235792,235792,235792,235792,235792,235792,235792
3,112609,112609,112609,112609,112609,112609,112609,112609,112609,112609,112609,112609
4,65940,65940,65940,65940,65940,65940,65940,65940,65940,65940,65940,65940
5,43644,43644,43644,43644,43644,43644,43644,43644,43644,43644,43644,43644
...,...,...,...,...,...,...,...,...,...,...,...,...
2326,1,1,1,1,1,1,1,1,1,1,1,1
2571,2,2,2,2,2,2,2,2,2,2,2,2
2617,1,1,1,1,1,1,1,1,1,1,1,1
2643,1,1,1,1,1,1,1,1,1,1,1,1
2684,1,1,1,1,1,1,1,1,1,1,1,1

In [28]:
# Print out the BMI value counts

bmi_counts = concatenated_df.bmi_group.value_counts()
bmi_counts

9    459438
1    351790
2    312333
3    218781
4    179998
Name: bmi_group, dtype: int64

In [29]:
current_hrt_counts = concatenated_df.current_hrt.value_counts()
current_hrt_counts

0    1087606
9     313776
1     120958
Name: current_hrt, dtype: int64

In [30]:
history_counts = concatenated_df.breast_cancer_history.value_counts()
history_counts

0    969662
9    330902
1    221776
Name: breast_cancer_history, dtype: int64

In [31]:
covariate_counts = concatenated_df.covariate_count.value_counts()
covariate_counts.head(25)

1     856114
2     235792
3     112609
4      65940
5      43644
6      31454
7      23521
8      18418
9      14674
10     11976
11     10135
12      8406
13      7241
14      6183
15      5550
16      4867
17      4193
18      3836
19      3455
20      3111
21      2800
22      2584
23      2239
24      2161
25      1957
Name: covariate_count, dtype: int64

In [34]:
# Determine which name values to replace
remove_covariate_count = list(covariate_counts[covariate_counts < 3000].index)
remove_covariate_count

[21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 44,
 43,
 45,
 47,
 46,
 48,
 49,
 51,
 50,
 52,
 53,
 57,
 54,
 56,
 58,
 60,
 55,
 59,
 61,
 62,
 64,
 63,
 66,
 65,
 70,
 67,
 68,
 69,
 71,
 75,
 73,
 72,
 78,
 74,
 76,
 77,
 82,
 79,
 80,
 85,
 81,
 84,
 83,
 91,
 86,
 87,
 88,
 92,
 90,
 89,
 100,
 93,
 97,
 98,
 105,
 95,
 96,
 101,
 102,
 104,
 108,
 94,
 103,
 107,
 106,
 99,
 123,
 111,
 130,
 112,
 110,
 120,
 109,
 118,
 132,
 119,
 121,
 122,
 115,
 117,
 113,
 116,
 125,
 124,
 128,
 126,
 135,
 114,
 133,
 140,
 127,
 143,
 145,
 136,
 131,
 151,
 142,
 146,
 148,
 134,
 156,
 168,
 154,
 153,
 129,
 158,
 138,
 147,
 163,
 155,
 150,
 152,
 172,
 144,
 149,
 159,
 141,
 157,
 160,
 161,
 179,
 170,
 137,
 188,
 178,
 165,
 166,
 139,
 174,
 171,
 187,
 169,
 210,
 175,
 167,
 173,
 204,
 162,
 201,
 205,
 202,
 189,
 192,
 164,
 214,
 180,
 215,
 176,
 186,
 184,
 182,
 193,
 212,
 183,
 220,
 211,
 225,
 194,
 231,
 197,
 245,
 199,
 177,
 181,
 195,
 185,
 200,
 191,
 221,
 213,
 218,
 226,
 240,
 198,
 236,
 252,
 234,
 224,
 238,
 227,
 209,
 206,
 219,
 207,
 190,
 241,
 196,
 250,
 228,
 289,
 203,
 216,
 223,
 244,
 230,
 232,
 262,
 208,
 235,
 268,
 222,
 267,
 246,
 269,
 239,
 233,
 243,
 247,
 344,
 264,
 287,
 279,
 277,
 316,
 294,
 257,
 280,
 278,
 256,
 255,
 295,
 297,
 248,
 281,
 274,
 237,
 331,
 271,
 270,
 242,
 296,
 266,
 310,
 229,
 366,
 312,
 285,
 305,
 291,
 282,
 259,
 276,
 217,
 249,
 263,
 260,
 261,
 308,
 307,
 341,
 346,
 304,
 301,
 253,
 258,
 292,
 290,
 354,
 273,
 283,
 284,
 288,
 358,
 326,
 481,
 309,
 401,
 402,
 342,
 383,
 347,
 251,
 345,
 254,
 265,
 300,
 302,
 314,
 412,
 332,
 495,
 313,
 376,
 327,
 355,
 325,
 315,
 322,
 321,
 367,
 337,
 338,
 306,
 275,
 353,
 352,
 349,
 286,
 375,
 416,
 340,
 378,
 320,
 293,
 272,
 298,
 299,
 311,
 317,
 323,
 567,
 418,
 415,
 448,
 372,
 595,
 411,
 380,
 382,
 530,
 553,
 407,
 405,
 469,
 452,
 391,
 392,
 319,
 395,
 652,
 453,
 368,
 569,
 428,
 609,
 324,
 423,
 329,
 333,
 334,
 335,
 336,
 351,
 339,
 343,
 677,
 552,
 434,
 854,
 845,
 558,
 554,
 436,
 853,
 449,
 555,
 437,
 439,
 444,
 548,
 556,
 455,
 532,
 458,
 496,
 721,
 724,
 509,
 517,
 507,
 704,
 502,
 501,
 522,
 499,
 498,
 2571,
 494,
 538,
 699,
 486,
 528,
 482,
 760,
 479,
 475,
 531,
 473,
 560,
 688,
 463,
 433,
 318,
 561,
 430,
 404,
 578,
 397,
 363,
 390,
 598,
 386,
 409,
 369,
 384,
 370,
 381,
 379,
 377,
 408,
 400,
 374,
 348,
 563,
 426,
 357,
 328,
 417,
 875,
 419,
 413,
 667,
 568,
 711,
 1720,
 702,
 617,
 705,
 635,
 619,
 627,
 626,
 625,
 696,
 621,
 706,
 2684,
 644,
 1126,
 695,
 668,
 1093,
 1693,
 674,
 675,
 666,
 664,
 660,
 658,
 682,
 655,
 654,
 653,
 648,
 645,
 689,
 643,
 641,
 693,
 717,
 805,
 718,
 2070,
 912,
 911,
 910,
 909,
 907,
 895,
 893,
 863,
 891,
 1913,
 886,
 880,
 872,
 869,
 1936,
 918,
 920,
 923,
 1949,
 927,
 947,
 948,
 2057,
 958,
 959,
 965,
 2000,
 981,
 1027,
 984,
 1010,
 1054,
 856,
 720,
 740,
 769,
 767,
 764,
 1779,
 754,
 1768,
 739,
 1058,
 736,
 735,
 734,
 730,
 1088,
 728,
 777,
 1074,
 781,
 791,
 804,
 613,
 806,
 812,
 816,
 818,
 822,
 825,
 826,
 833,
 838,
 849,
 852,
 616,
 537,
 611,
 478,
 424,
 425,
 429,
 431,
 432,
 435,
 1460,
 440,
 442,
 445,
 1469,
 446,
 447,
 1248,
 450,
 451,
 1245,
 454,
 2266,
 456,
 459,
 464,
 468,
 470,
 471,
 474,
 1499,
 1446,
 422,
 420,
 1306,
 1016,
 330,
 303,
 359,
 360,
 361,
 362,
 364,
 365,
 1317,
 371,
 373,
 385,
 1439,
 387,
 2326,
 394,
 1419,
 396,
 1420,
 398,
 399,
 403,
 410,
 414,
 1280,
 477,
 480,
 610,
 484,
 557,
 1582,
 559,
 565,
 2617,
 573,
 575,
 576,
 577,
 1603,
 582,
 584,
 585,
 586,
 587,
 588,
 591,
 2643,
 1146,
 601,
 1144,
 602,
 1143,
 603,
 604,
 605,
 607,
 1177,
 551,
 536,
 512,
 488,
 490,
 491,
 492,
 497,
 500,
 505,
 1208,
 506,
 1206,
 1534,
 511,
 1536,
 534,
 513,
 514,
 516,
 518,
 520,
 521,
 523,
 1191,
 524,
 526,
 1188,
 529,
 2047]

In [36]:
# Replace in DataFrame
#for count in remove_covariate_count:
    #concatenated_df.covariate_count = concatenated_df.covariate_count.replace(covariate_counts,">20")


# Check to make sure binning was successful
#concatenated_df.covariate_count.value_counts()